


.container {
    width: 1200px;
    padding-left: 15px;   
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    
.container--position {
    display: flex;    
    }
    
.advantage__container {
    gap: 30px;
    }
    
    
.header__container {
    align-items: center;
    }
    