
  
.customer__link {
display: flex;
align-items: center; 
justify-content: center;
width: 170px;   
height: 92px;
border: 1px solid #AFB1B8;
border-radius: 4px;
background: var(--main-bg-cl);
transition: fill var(--animation), border var(--animation); 
    
&:hover , 
&:focus {
border: 1px solid var(--accent-txt-cl);   
}

&:hover .customer__icon,
&:focus .customer__icon {
fill: var(--accent-txt-cl);
}
}

    
.header__item--link {
display: flex;
align-items: center;
gap: 10px;
color: var(--secondary-txt-cl);
transition: fill var(--animation);

&:hover,
&:focus {
color: var(--accent-txt-cl);
}

&:hover .header__icon,
&:focus .header__icon {
fill: var(--accent-txt-cl);
}

}
    
.link__color {
display: flex;  
align-items: center; 
justify-content: center;
width: 44px;
height: 44px;
background-color: var(--main-bg-cl);
border-radius: 50%;
transition: fill var(--animation), background var(--animation);

    
&:hover,
&:focus {
background-color: var(--accent-txt-cl);
 }
    
&:hover .icon,
&:focus .icon {
 fill: var(--main-bg-cl);
}
}

