<<<<<<< HEAD
body {
    font-family: var(--main-font);
    color: var(--light-txt-cl);
    }

=======
body {
    font-family: var(--main-font);
    color: var(--light-txt-cl);
    }

>>>>>>> adc40b82e765681541c94725a9a703c4f7e7275a
    